html {
  background: no-repeat center center fixed
    url("./image/pexels-tara-winstead-8386440.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}
